page-detail {
    .toolbar-content p {
        margin-left: 10px;
    }
    
    ion-card-header {
        font-weight: bold;
    }

    .btn-wrapper {
        padding: 3%;
    }

    .bottom-border {
        border-bottom: 1px solid #C0C0BE;
    }

}
