<ion-header>
  <ion-navbar color="appiko">
    <ion-title>{{ peripheral.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="padding">

  
  <!-- Card with radio buttons to select time of the day -->
  <ion-card>
    <ion-card-header>
      Time Setting
    </ion-card-header>
    
    <ion-list radio-group [(ngModel)]="time" (ionChange)="setTimeSetting($event)">
      
      <ion-item>
        <ion-label>Night Only</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Day Only</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>      
      <ion-item>
        <ion-label>Day and Night</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>
  
  
  <!-- Card with list of buttons to select mode -->
  <ion-card>
    <ion-card-header>
      Trigger Mode
    </ion-card-header>
    
    <ion-list>

      
      <button ion-item ngClass="styling" (click)="setSingleTrigger($event);unsetSingleTrigger($event)" [color]="buttonColor" class="bottom-border">
        <ion-icon name="image" item-start></ion-icon>
        Image trigger - single
      </button>
      
      <button ion-item  ngClass="styling" class="bottom-border" (click)="onButtonClickBurst($event);onButtonClickDisable($event)" [color]="buttonColor">
        <ion-icon name="images" item-start></ion-icon>
        Image trigger - burst
      </button>
      
      <ion-item *ngIf="buttonClickedBurst" class="bottom-border">
        <ion-label color="primary" stacked>Time between bursts in ms
          <ion-badge color="primary" item-end>{{this.burstTime}} ms</ion-badge>
        </ion-label>
        <ion-input type="number" [(ngModel)]="burstTime" min="100" max="1000" value="" placeholder="Enter value in ms"></ion-input>
      </ion-item>
      
      
      <button ion-item  ngClass="styling" class="bottom-border" (click)="onButtonClickBulb($event);onButtonClickDisable($event)" [color]="buttonColor">
        <ion-icon name="bulb" item-start></ion-icon>
        Bulb exposure with its duration
      </button>
      
      <ion-item *ngIf="buttonClickedBulb" class="bottom-border">
        <ion-label color="primary" stacked>Time for exposure at night in ms
          <ion-badge color="primary" item-end>{{this.exposureTime}} ms</ion-badge>
        </ion-label>
        <ion-input type="number" [(ngModel)]="exposureTime" min="10" max="100000" value="" placeholder="Enter value in ms"></ion-input>
      </ion-item>
      
      
      <button ion-item  ngClass="styling" class="bottom-border" (click)="onButtonClickVideo($event);onButtonClickDisable($event)" [color]="buttonColor">
        <ion-icon name="videocam" item-start></ion-icon>
        Video
      </button>
      
      <ion-item *ngIf="buttonClickedVideo">
        <ion-label color="primary" stacked>Duration of the video in s
          <ion-badge color="primary" item-end>{{this.videoDuration}} s</ion-badge>
        </ion-label>
        <ion-input type="number" [(ngModel)]="videoDuration" min="1" max="100000" value="" placeholder="Enter value in s"></ion-input>
      </ion-item>
      
      <ion-item *ngIf="buttonClickedVideo" class="bottom-border">
        <ion-label color="primary" stacked>Extension time in case more motion is detected
          <ion-badge color="primary" item-end>{{videoExtension}} s</ion-badge>
        </ion-label>
        <ion-input type="number" [(ngModel)]="videoExtension" min="1" max="100000" value="" placeholder="Enter value in s"></ion-input>
      </ion-item>
      
      
      <button ion-item  ngClass="styling" class="bottom-border" (click)="onButtonClickFocus($event);onButtonClickDisable($event)" [color]="buttonColor">
        <ion-icon name="aperture" item-start></ion-icon>
        Focus the camera
      </button>
      
    </ion-list>
  </ion-card>
  
  <!-- Card with slider to set sensitivity threshold for the detector -->
  <ion-card>
    <ion-card-header>
      Sensitivity
      <ion-badge color="primary" item-end>{{this.sensitivity}}%</ion-badge> 
    </ion-card-header>
    
    <ion-item>
      <ion-range min="0" max="100" pin="true" [(ngModel)]="sensitivity" (ionChange)="sensitivityThreshold($event)">
        <ion-icon range-left small name="sunny"></ion-icon>
        <ion-icon range-right name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-card>
  
  <!-- Card with slider to set time between triggers in milliseconds -->
  <ion-card>
    <ion-card-header>
      Time between triggers
      <ion-badge color="primary" item-end>{{this.triggers}} ms</ion-badge>
    </ion-card-header>
    
    <ion-item>
      <ion-range min="100" max="2000" pin="true" step="100" snaps="true" [(ngModel)]="triggers" (ionChange)="triggerTime($event)">
        <ion-icon range-left small name="timer"></ion-icon>
        <ion-icon range-right name="timer"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-card>
  
  <!-- Card with toggle button to activate focus signal before trigger signal -->
  <ion-card>  
    <ion-item>
      <ion-label text-wrap> <b>Activate focus signal before trigger signal </b></ion-label>
      <ion-toggle  (ionChange)="activate($event)"></ion-toggle>
    </ion-item>
  </ion-card>
  
  <!-- Card with drop downs to select camera model attached -->
  <ion-card>
    <ion-card-header>
      Camera model attached
    </ion-card-header>
    
    <!-- The model names drop down appears and gets populated only when the company name is selected. -->
    <ion-item>
      <ion-label>Company Name</ion-label>
      <ion-select interface="popover" (ionChange)="setModelNames(company)" [(ngModel)]="company">
        <ion-option [value]="company" *ngFor = "let company of companies">{{company.name}}  </ion-option> 
      </ion-select>
    </ion-item>
    
    <ion-item *ngIf="selectedModels">
      <ion-label>Model Name</ion-label>
      <ion-select interface="popover" [(ngModel)]="model">
        <ion-option [value]="model" *ngFor = "let model of selectedModels">{{model.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>  
  
</ion-content>


<!-- Footer which displays status messages and consists of write button -->
<ion-footer class="positioning">
  
  <ion-toolbar item-left>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
  
  <!-- Button to write to the device -->
  <button ion-button item-right (click)="onButtonClickWrite()" class="move-right">
    Write
  </button>
  
</ion-footer>