<ion-header>
  <ion-navbar color="appiko">
    <ion-title>{{ peripheral.name || 'Device' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="padding">
  
  <!-- <ion-list radio-group [(ngModel)]="led" (ionChange)="ledOn($event)">
    <ion-list-header>
      LED Status
    </ion-list-header>
    
    <ion-item>
      <ion-label>On</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    
    <ion-item>
      <ion-label>Off</ion-label>
      <ion-radio value="0"></ion-radio>
    </ion-item>
  </ion-list>
  
  <ion-item>
    <ion-range min="0" max="1" [(ngModel)]="brightness" (ionChange)="ledRange($event)">
      <ion-icon range-left small name="sunny"></ion-icon>
      <ion-icon range-right name="sunny"></ion-icon>
    </ion-range>
  </ion-item>
  
  <ion-item>
    <ion-label>LED Status</ion-label>
    <ion-select interface="popover" [(ngModel)]="ledStatus" (ionChange)="ledDrop($event)">
      <ion-option value="1">On</ion-option>
      <ion-option value="0">Off</ion-option>
    </ion-select>
  </ion-item>
  
  <ion-card>
    <h1> {{ buttonState }} </h1>
  </ion-card> -->
  
  <ion-card>
    <ion-card-header>
      Time of the day
    </ion-card-header>
    
    <ion-list radio-group [(ngModel)]="time" (ionChange)="timeOfDay($event)">
      <!-- <ion-list-header>
        <h2>Time of the day</h2>
      </ion-list-header> -->
      
      <ion-item>
        <ion-label>Day Only</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>
      
      <ion-item>
        <ion-label>Night Only</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>
      
      <ion-item>
        <ion-label>Day and Night</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>
  
  
  <ion-card>
    <ion-card-header>
      Mode
    </ion-card-header>
    
    
    <ion-list>
      
      <button ion-item [disabled]="isDisabled" (click)="onButtonClickDisable()" class="bottom-border">
        <ion-icon name="image" item-start></ion-icon>
        Image trigger - single
      </button>
      
      <button ion-item [disabled]="isDisabled" class="bottom-border" (click)="onButtonClickBurst();onButtonClickDisable()">
        <ion-icon name="images" item-start></ion-icon>
        Image trigger - burst
      </button>
      
      <ion-item *ngIf="buttonClickedBurst" class="bottom-border">
        <ion-label color="primary" stacked>Time between bursts in ms
          <ion-badge color="primary" item-end>{{this.burstTime}} ms</ion-badge>
        </ion-label>
        <ion-input type="number" [(ngModel)]="burstTime" min="100" max="1000" value="" placeholder="Enter value in ms"></ion-input>
      </ion-item>
      
      
      <button ion-item [disabled]="isDisabled" class="bottom-border" (click)="onButtonClickBulb();onButtonClickDisable()">
        <ion-icon name="bulb" item-start></ion-icon>
        Bulb exposure with its duration
      </button>
      
      <ion-item *ngIf="buttonClickedBulb" class="bottom-border">
        <ion-label color="primary" stacked>Time for exposure at night in ms
          <ion-badge color="primary" item-end>{{this.exposureTime}} ms</ion-badge>
        </ion-label>
        <ion-input type="number" [(ngModel)]="exposureTime" min="10" max="100000" value="" placeholder="Enter value in ms"></ion-input>
      </ion-item>
      
      <button ion-item [disabled]="isDisabled" class="bottom-border" (click)="onButtonClickVideo();onButtonClickDisable()">
        <ion-icon name="videocam" item-start></ion-icon>
        Video
      </button>
      
      <ion-item *ngIf="buttonClickedVideo">
        <ion-label color="primary" stacked>Duration of the video in s
          <ion-badge color="primary" item-end>{{this.videoDuration}} s</ion-badge>
        </ion-label>
        <ion-input type="number" [(ngModel)]="videoDuration" min="1" max="100000" value="" placeholder="Enter value in s"></ion-input>
      </ion-item>
      
      <ion-item *ngIf="buttonClickedVideo" class="bottom-border">
        <ion-label color="primary" stacked>Extension time in case more motion is detected
          <ion-badge color="primary" item-end>{{videoExtension}} s</ion-badge>
        </ion-label>
        <ion-input type="number" [(ngModel)]="videoExtension" min="1" max="100000" value="" placeholder="Enter value in s"></ion-input>
      </ion-item>
      
      <button ion-item [disabled]="isDisabled" class="bottom-border" (click)="onButtonClickDisable()">
        <ion-icon name="aperture" item-start></ion-icon>
        Focus the camera
      </button>
      
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      Sensitivity
      <ion-badge color="primary" item-end>{{this.sensitivity}}%</ion-badge> 
    </ion-card-header>
    
    
    
    <ion-item>
      
      <ion-range min="0" max="100" pin="true" [(ngModel)]="sensitivity" (ionChange)="sensitivityThreshold($event)">
        <ion-icon range-left small name="sunny"></ion-icon>
        <ion-icon range-right name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      Time between triggers
      <ion-badge color="primary" item-end>{{this.triggers}} ms</ion-badge>
    </ion-card-header>
    
    <ion-item>
      
      <ion-range min="100" max="2000" pin="true" step="100" snaps="true" [(ngModel)]="triggers" (ionChange)="triggerTime($event)">
        <ion-icon range-left small name="timer"></ion-icon>
        <ion-icon range-right name="timer"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-card>
  
  <ion-card>  
    <ion-item>
      <ion-label text-wrap> <b>Activate focus signal before trigger signal </b></ion-label>
      <ion-toggle (ionChange)="activate($event)"></ion-toggle>
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      Camera model attached
    </ion-card-header>
    
    <ion-item>
      <ion-label>Company Name</ion-label>
      <ion-select interface="popover" (ionChange)="setModelNames(company)" [(ngModel)]="company">
        <ion-option [value]="company" *ngFor = "let company of companies">{{company.name}}  </ion-option> 
      </ion-select>
      
    </ion-item>
    <ion-item *ngIf="selectedModels">
      <ion-label>Model Name</ion-label>
      <ion-select interface="popover" [(ngModel)]="model">
        <ion-option [value]="model" *ngFor = "let model of selectedModels">{{model.name}}</ion-option>
      </ion-select>
    </ion-item>
    
    
  </ion-card>
  
  
  
  <div (click)="onButtonClickWrite()" class="btn-wrapper">
    <button ion-button block>
      Write
    </button>
  </div>
  
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>