<ion-header>
  <ion-navbar color="appiko">
    <ion-title>{{ peripheral.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="padding">

  <!-- Card with radio buttons to select trigger mode -->
  <ion-card>
    <ion-card-header>
      Trigger Setting
    </ion-card-header>
    
    <ion-list radio-group [(ngModel)]="triggerSetting" (ionChange)="setTriggerSetting($event)">
      
      <ion-item>
        <ion-label>Timer Only</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Motion Only</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>      
      <ion-item>
        <ion-label>Both Timer and Motion</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>
  
  
  <!-- Card with radio buttons to select time of the day -->
  <ion-card>
    <ion-card-header>
      Time Setting
    </ion-card-header>
    
    <ion-list radio-group [(ngModel)]="timeSetting" (ionChange)="setTimeSetting($event)">
      
      <ion-item>
        <ion-label>Night Only</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Day Only</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>      
      <ion-item>
        <ion-label>Day and Night</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>
  
  
  <!-- Card with list of buttons to select mode -->
  <ion-card>
    <ion-card-header>
      Trigger Mode
    </ion-card-header>
    
    <ion-list radio-group [(ngModel)]="mode" (ionChange)="setMode($event)">

      
      <ion-item>
       <ion-label> Set Single Trigger </ion-label>
       <ion-icon name="image" item-start></ion-icon>
       <ion-radio value = "0"></ion-radio>
      </ion-item>
      
      <ion-item>
       <ion-label> Set Burst Trigger</ion-label>
       <ion-icon name="images" item-start></ion-icon>
       <ion-radio value = "1"></ion-radio>
      </ion-item>
      
      <ion-item *ngIf="radioClickedBurst" class="bottom-border">
        <ion-label color="primary" stacked>Time between bursts in s
          <ion-badge color="primary" item-end>{{this.burstGap}} s</ion-badge>
        </ion-label>
        <ion-input type="number" [(ngModel)]="burstGap" (ionChange)="setBurstGap($event)" min="100" max="1000" value="" placeholder="Enter value in s"></ion-input>
      </ion-item>
      
      <ion-item>
       <ion-label> Set Bulb Exposure </ion-label>
       <ion-icon name="bulb" item-start></ion-icon>
       <ion-radio value = "2"></ion-radio>
      </ion-item>

      <ion-item *ngIf="radioClickedBulb" class="bottom-border">
        <ion-label color="primary" stacked>Time for exposure at night in s
          <ion-badge color="primary" item-end>{{this.bulbExposureTime}} s</ion-badge>
        </ion-label>
        <ion-input type="number" [(ngModel)]="bulbExposureTime" (ionChange)="setBulbExposureTime($event)" min="10" max="100000" value="" placeholder="Enter value in s"></ion-input>
      </ion-item>
      
      <ion-item>
       <ion-label> Set Video Mode </ion-label>
       <ion-icon name="videocam" item-start></ion-icon>
       <ion-radio value = "3"></ion-radio>
      </ion-item>
      
      <ion-item *ngIf="radioClickedVideo">
        <ion-label color="primary" stacked>Duration of the video in s
          <ion-badge color="primary" item-end>{{this.videoDuration}} s</ion-badge>
        </ion-label>
        <ion-input type="number" [(ngModel)]="videoDuration" (ionChange)="setVideoDuration($event)" min="1" max="100000" value="" placeholder="Enter value in s"></ion-input>
      </ion-item>
      
      <ion-item *ngIf="radioClickedVideo" class="bottom-border">
        <ion-label color="primary" stacked>Extension time in case more motion is detected
          <ion-badge color="primary" item-end>{{this.videoExtension}} s</ion-badge>
        </ion-label>
        <ion-input type="number" [(ngModel)]="videoExtension" (ionChange)="setVideoExtension($event)" min="1" max="100000" value="" placeholder="Enter value in s"></ion-input>
      </ion-item>
      
      <ion-item>
       <ion-label> Set Focus Mode </ion-label>
       <ion-icon name="aperture" item-start></ion-icon>
       <ion-radio value = "4"></ion-radio>
      </ion-item>
            
    </ion-list>
  </ion-card>
  
  <!-- Time interval for timer trigger -->
  <ion-card>  
    <ion-item *ngIf="radioClickedTriggerTimer">
      <ion-label text-wrap> <b>Time interval for timer based triggers (in mins) </b></ion-label>
      <ion-input type=number [(ngModel)]="triggerTimerInterval" (ionChange)="setTriggerTimerInterval($event)" min="10" max="1440" value="" placeholder="Enter value in minutes"> </ion-input>
    </ion-item>
  </ion-card>
  
  <!-- Card with slider to set sensitivity threshold for the detector -->
  <ion-card>
    <ion-card-header>
      Sensitivity
      <ion-badge color="primary" item-end>{{this.sensitivity}}%</ion-badge> 
    </ion-card-header>
    
    <ion-item>
      <ion-range min="0" max="100" pin="true" [(ngModel)]="sensitivity" (ionChange)="setSensitivityThreshold($event)">
        <ion-icon range-left small name="sunny"></ion-icon>
        <ion-icon range-right name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-card>
  
  <!-- Card with slider to set time between triggers in seconds -->
  <ion-card>
    <ion-card-header>
      Time between triggers
      <ion-badge color="primary" item-end>{{this.triggerGap}} s</ion-badge>
    </ion-card-header>
    
    <ion-item>
      <ion-range min="100" max="2000" pin="true" step="100" snaps="true" [(ngModel)]="triggerGap" (ionChange)="setTimeBetweenTriggers($event)">
        <ion-icon range-left small name="timer"></ion-icon>
        <ion-icon range-right name="timer"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-card>
  
  <!-- Card with toggle button to activate focus signal before trigger signal -->
  <ion-card>  
    <ion-item>
      <ion-label text-wrap> <b>Activate focus signal before trigger signal </b></ion-label>
      <ion-toggle  [(ngModel)]="focusActivated" (ionChange)="activateFocus($event)" [checked]="false"></ion-toggle>
    </ion-item>
  </ion-card>
  

  <!-- Card with drop downs to select camera model attached -->
  <ion-card>
    <ion-card-header>
      Camera Make and Model
    </ion-card-header>
    
    <!-- The model names drop down appears and gets populated only when the company name is selected. -->
    <ion-item>
      <ion-label>Camera Make</ion-label>
      <ion-select interface="popover" (ionChange)="setModelNames(make)" [(ngModel)]="make">
        <ion-option [value]="make" *ngFor = "let make of makes">{{make.name}}  </ion-option> 
      </ion-select>
    </ion-item>
    
    <ion-item *ngIf="selectedModels">
      <ion-label>Camera Model</ion-label>
      <ion-select interface="popover" [(ngModel)]="model">
        <ion-option [value]="model" *ngFor = "let model of selectedModels">{{model.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>  
  
</ion-content>


<!-- Footer which displays status messages and consists of write button -->
<ion-footer class="positioning">
  
  <ion-toolbar item-left>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
  
  <!-- Button to write to the device -->
  <button ion-button item-right *ngIf="realConnection" (click)="onButtonClickWrite()" class="move-right">
    Write
  </button>
  
</ion-footer>