<ion-header>
  <ion-navbar color="appiko">
    <ion-title>Light Config</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="padding">
    <ion-item>
      <ion-label> Light Threshold
        <ion-badge color="light" item-end>{{lightThreshold}}</ion-badge>
      </ion-label>
      <ion-range min="0" max="255" pin="true" [(ngModel)]="lightThreshold" ng-init="lightThreshold=0" (ionChange)="setLightThreshold($event)">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>255</ion-label>
       </ion-range>
    </ion-item>
    <ion-item>
      <ion-label> Motion Threshold
        <ion-badge color="motion" item-end>{{motionThreshold}}</ion-badge>
      </ion-label>
      <ion-range min="0" max="255" pin="true" [(ngModel)]="motionThreshold" ng-init="motionThreshold=0" (ionChange)="setMotionThreshold($event)">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>255</ion-label>
       </ion-range>
    </ion-item>
    <ion-item>
      <ion-label> White Intensity
        <ion-badge color="plain" item-end>{{whiteIntensity}}</ion-badge>
      </ion-label>
      <ion-range min="0" max="255" pin="true" [(ngModel)]="whiteIntensity" ng-init="whiteIntensity=0" (ionChange)="setWhiteIntensity($event)">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>255</ion-label>
       </ion-range>
    </ion-item>
    <ion-item>
      <ion-label> Red Intensity
        <ion-badge color="red" item-end>{{redIntensity}}</ion-badge>
      </ion-label>
      <ion-range min="0" max="255" pin="true" [(ngModel)]="redIntensity" ng-init="redIntensity=0" (ionChange)="setRedIntensity($event)">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>255</ion-label>
       </ion-range>
    </ion-item>
    <ion-item>
      <ion-label> Blue Intensity
        <ion-badge color="blue" item-end>{{blueIntensity}}</ion-badge>
      </ion-label>
      <ion-range min="0" max="255" pin="true" [(ngModel)]="blueIntensity" ng-init="blueIntensity=0" (ionChange)="setBlueIntensity($event)">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>255</ion-label>
       </ion-range>
    </ion-item>
    <ion-item>
      <ion-label> Green Intensity
        <ion-badge color="green" item-end>{{greenIntensity}}</ion-badge>
      </ion-label>
      <ion-range min="0" max="255" pin="true" [(ngModel)]="greenIntensity" ng-init="greenIntensity=0" (ionChange)="setGreenIntensity($event)">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>255</ion-label>
       </ion-range>
    </ion-item>
  </ion-card>
 <ion-card *ngIf="radioClickedTriggerPir">
    <ion-card-header class="card-heading">
      Light Duration
    </ion-card-header>
    <ion-item>
      <ion-label > On Time in Minutes 
        <ion-badge color="primary" item-end> {{this.onTime}} </ion-badge> 
      </ion-label> 
      <ion-input type=number [(ngModel)]="onTime" ng-init="onTime=5" (ionChange)="setOnTime($event)" placeholder="Minutes"> </ion-input>   
      <!-- Removing range as steps of 0.1s difficult to select in a range -->
      <!--
      <ion-range min="5" max="600" pin="true" step="10" snaps="true" [(ngModel)]="pirInterTriggerTime" (ionChange)="setPirInterTriggerTime($event)">
        <ion-icon range-left small name="time"></ion-icon>
        <ion-icon range-right name="time"></ion-icon>
      </ion-range>
    -->
    </ion-item>
  </ion-card>
  
</ion-content>


<!-- Footer which displays status messages and consists of write button -->
<ion-footer class="positioning">
  
  <ion-toolbar item-left>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
  

  <!-- Button to write to the device -->
  <button ion-button item-right *ngIf="realConnection" (click)="onButtonClickWrite()" class="move-right">
    Write to Device
  </button>
  
</ion-footer>
